@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:ital,wght@0,300..900;1,300..900&family=Archivo+Black&family=Exo:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.page {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.page::-webkit-scrollbar {
  width: 12px;
  border-radius: 50px; /* Width of the scrollbar */
}

.page::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.page::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #60efff, #25ab7B); /* Gradient color */
  border-radius: 50px; /* Round the corners */
}

/* For Firefox */
.page {
  scrollbar-width: thin; /* Set the scrollbar width */
  scrollbar-color: #25ab7B #f0f0f0; /* Thumb and track color */
}

.main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #26AB7b;
}

.main h1 {
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}

.textanimate {
  background: linear-gradient(90deg, #60efff, #26AB7b);
  background-size: 120%; /* Ensures the gradient shifts smoothly */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientShift 3s linear infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.main p {
  max-width: 600px;
  margin-top: 10px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 24px;
}

.mainaction {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  font-family: "Exo", sans-serif;
  font-weight: 700;
}

.maincontact,
.mainscroll {
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 40px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; /* Smooth transition */
}

.maincontact {
  background-color: white;
  color: black;
}

.maincontact:hover {
  background-color: black;
  color: white;
}

.mainscroll:hover {
  background: linear-gradient(90deg, #60efff, #26AB7b);
  background-size: 120%;
  background-clip: border-box;
  color: black; /* Change text color on hover */
  border: 2px solid transparent;
}

@media (max-width: 820px) {
  .main {
    text-align: left;
    padding-left: 5%;
  }
}
