@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
.page{
  margin:0;
}

.navbar{
  background-color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0px 40px;
  .image{
    padding-top: 2px;
  }
  .right{
    display: flex;
    gap: 30px;
    color:black
    
  }
  .navlist{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .btn{
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
}
.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
}
.main h1{
  font-size: 64px;
}
.main h2{
  font-size: 35px;
}
.main span{
  color: black;
}
.main p{
  max-width: 600px;
  text-align: center;
  margin-top: 10px;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.mainaction{
  display: flex;
  gap:30px;
  margin-top: 20px;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}
.maincontact{
  background-color: white;
  border: 2px solid white;
  border-radius: 50px;
  color: black;
  padding: 10px 40px;
}
.maincontact:hover{
  background-color: black;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  padding: 10px 40px;
}
.mainscroll{
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 40px;
}
.mainscroll:hover{
  border: 2px solid black;
  color: black;
  border-radius: 50px;
  padding: 10px 40px;
}